.myImage{
  border-radius: 62% 38% 38% 62% / 33% 27% 73% 67% ;
}

.myImageDiv {
  perspective: 600px;
  perspective-origin: center;
}

@keyframes bounceCustom {
  0%, 50% {
    transform: translateY(-20px); /* 👈 bounce height */
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  0% {
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.custom_bounce {
  animation: bounceCustom 1s infinite;
}